body{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

.page-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.page-header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}


.page-header a{
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.page-header nav{
    font-family: 'Arial Narrow';
    font-size:  15px;
    background-color: #C4FFC7;
}

.items{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.items img{
    width: 100%;
    height: auto;
}

.item button{
    border-radius: 4px;
    background-color:whitesmoke;
    border-width: thin;
    font-size: 8px;
    padding: 1.5px;
    /* stretch, center add to cart button*/
    display: flex;
    text-align: center;
    margin: auto;

}

.item{
    border: solid .3em;
    border-color: black;
    border-width: 1.5px;
}

.item p{
    font-size: 12px;
}